In [1]:
import pandas as pd

In [4]:
citibike_original_data = pd.read_csv('data/citibike-tripdata.csv', sep=",")

In [6]:
citibike_data = citibike_original_data.copy()
citibike_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [8]:
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [11]:
citibike_data["start station id"].value_counts(normalize=True)

start station id
281.0     0.006430
2006.0    0.006367
519.0     0.006247
514.0     0.006153
426.0     0.006120
            ...
3432.0    0.000050
3599.0    0.000037
2005.0    0.000030
3704.0    0.000023
3583.0    0.000020
Name: proportion, Length: 759, dtype: float64

In [12]:
citibike_data["bikeid"].value_counts(normalize=True)

bikeid
33887    0.000357
34358    0.000347
34159    0.000343
34258    0.000343
33916    0.000340
           ...
18587    0.000003
17324    0.000003
29593    0.000003
33157    0.000003
25794    0.000003
Name: proportion, Length: 10004, dtype: float64

In [14]:
customers_count = citibike_data[citibike_data["usertype"] == "Customer"].shape[0]
subscribers_count = citibike_data[citibike_data["usertype"] == "Subscriber"].shape[0]
print(round(subscribers_count/(customers_count + subscribers_count), 2))

0.77

In [15]:
men_rides = citibike_data[citibike_data["gender"] == 1].shape[0]
women_rides = citibike_data[citibike_data["gender"] == 2].shape[0]
print(men_rides, women_rides)

183582 74506

In [16]:
citibike_data.nunique()

starttime                  299836
stoptime                   299813
start station id              759
start station name            759
start station latitude        770
start station longitude       772
end station id                765
end station name              765
end station latitude          775
end station longitude         777
bikeid                      10004
usertype                        2
birth year                     91
gender                          3
dtype: int64

In [18]:
users_age = 2018 - citibike_data["birth year"]
users_age.min()

np.int64(16)

In [19]:
citibike_data["start station name"].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [20]:
citibike_data["end station name"].value_counts()

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

In [21]:
citibike_data.drop(["start station id", "end station id"], axis=1, inplace=True)

In [23]:
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [24]:
citibike_data["age"] = 2018 - citibike_data["birth year"]
citibike_data[citibike_data["age"] > 60].shape[0]

11837

In [35]:
citibike_data.drop("birth year", axis=1, inplace=True)

In [36]:
citibike_data["starttime"] = pd.to_datetime(citibike_data["starttime"])
citibike_data["stoptime"] = pd.to_datetime(citibike_data["stoptime"])
citibike_data["trip duration"] = citibike_data["stoptime"] - citibike_data["starttime"]

In [37]:
citibike_data.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000

In [40]:
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(3), object(3), timedelta64[ns](1)
memory usage: 29.8+ MB

In [43]:
citibike_data["weekend"] = citibike_data["starttime"].dt.day_of_week
# citibike_data["weekend"] = citibike_data["starttime"].apply(lambda x: 1 if (x.dt.day_of_week == 5 or x.dt.day_of_week == 6) else 0)

In [45]:
citibike_data["weekend"] = citibike_data["weekend"].apply(lambda x: 1 if (x== 5 or x == 6) else 0)

In [46]:
citibike_data.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1

In [47]:
citibike_data[citibike_data["weekend"] == 1].shape[0]

115135

In [49]:
def get_time_of_day(time):
    if 0 <= time.hour <= 6:
        return "night"
    elif 6 < time.hour <= 12:
        return "morning"
    elif 12 < time.hour <= 18:
        return "day"
    else:
        return "evening"

In [50]:
citibike_data["time_of_day"] = citibike_data["starttime"].apply(get_time_of_day)
citibike_data["time_of_day"]

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

In [51]:
day_rides = citibike_data[citibike_data["time_of_day"] == "day"].shape[0]
night_rides = citibike_data[citibike_data["time_of_day"] == "night"].shape[0]
print(round(day_rides/night_rides))

9