In [1]:
import pandas as pd

In [6]:
student_data = pd.read_csv("data/students_performance.csv", sep=",")

In [5]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
student_data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
print(student_data.loc[155, "writing score"])

88

In [12]:
print(student_data["math score"].mean())

66.089

In [13]:
print(student_data["race/ethnicity"].mode())

0    group C
Name: race/ethnicity, dtype: object

In [14]:
print(student_data[student_data["test preparation course"] == "completed"]["reading score"].mean())

73.89385474860335

In [15]:
print(student_data[student_data["math score"] == 0].shape[0])

1

In [16]:
mean_math_score_with_paid_lunch = student_data[student_data["lunch"] == "standard"]["math score"].mean()
mean_math_score_with_unpaid_lunch = student_data[student_data["lunch"] != "standard"]["math score"].mean()
print(f"Mean math score for students with paid lunch is {mean_math_score_with_paid_lunch}")
print(f"Mean math score for students with unpaid lunch is {mean_math_score_with_unpaid_lunch}")

Mean math score for students with paid lunch is 70.03410852713178
Mean math score for students with unpaid lunch is 58.92112676056338

In [18]:
student_data["parental level of education"].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [21]:
median_writing_score_for_a_race = student_data[student_data["race/ethnicity"] == "group A"]["writing score"].median()
mean_writing_score_for_c_race = student_data[student_data["race/ethnicity"] == "group C"]["writing score"].mean()
print(median_writing_score_for_a_race, mean_writing_score_for_c_race)
print(abs(round(median_writing_score_for_a_race - mean_writing_score_for_c_race)))

62.0 67.82758620689656
6